[DEFAULT]
host = https://instanceid.integration.ocp.oraclecloud.com
basepath = /ic/api/integration/v1/flows/rest/DEMOPERSONNAME/1.0/personName/
username = user@yorku.ca
password = myBasicAuthPasswordHere